@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

  
@layer base {
  @font-face {
    font-family: 'CloisterBlack';
    src: url('../assets/fonts/CloisterBlack.ttf') format('truetype');
  }
}

::-webkit-scrollbar {
    display: none;
}

:root:has(.postmodal) {
    overflow:hidden;
}

  .cell {
    border-left: 1px solid white;
  }


.postmodal {
    box-shadow: 0px 0px 40px #392809;
  }

 .demo {
  auto-grow: true
 }

 .singlepost {
  box-shadow: 0px 0px 10px #420002;
 }

 .postMenu {
  box-shadow: 0px 0px 18px #a3a3a3;
 }

.editbuttons {
  box-shadow: 0px 2px 4px #b9b9b9;
}

.editbuttons2 {
  box-shadow: 0px 2px 4px #838383;
}

.navbar {
  box-shadow: 0px 0px 15px #1b1205;
}
