@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  @font-face {
    font-family: 'CloisterBlack';
    src: url('../assets/fonts/CloisterBlack.ttf') format('truetype');
  }
    
}

::-webkit-scrollbar {
    display: none;
}

:root:has(.postmodal) {
    overflow:hidden;
  }


.postmodal {
    box-shadow: 0px 0px 40px #052e16;
  }

 